# {{ ansible_managed }}

# -----------------------------
# PostgreSQL configuration file
# -----------------------------

#------------------------------------------------------------------------------
# FILE LOCATIONS
#------------------------------------------------------------------------------

data_directory = '{{ postgresql_data_path }}'
hba_file = '{{ postgresql_config_path }}/pg_hba.conf'
ident_file = '{{ postgresql_config_path }}/pg_ident.conf'
external_pid_file = '{{ postgresql_pid_file }}'

#------------------------------------------------------------------------------
# CONNECTIONS AND AUTHENTICATION
#------------------------------------------------------------------------------

listen_addresses = '{{ postgresql_listen | join(',') }}'
port = {{ postgresql_port }}
max_connections = {{ postgresql_max_connections }}
unix_socket_directories = '{{ postgresql_socket_directories | join(',') }}'
{% for k,v in postgresql_connections.items() | list %}
{{ k }} = {{ v }}
{% endfor %}

#------------------------------------------------------------------------------
# RESOURCE USAGE (except WAL)
#------------------------------------------------------------------------------

{% for k,v in postgresql_resources.items() | list %}
{{ k }} = {{ v }}
{% endfor %}

#------------------------------------------------------------------------------
# WRITE AHEAD LOG
#------------------------------------------------------------------------------

{% for k,v in postgresql_write_ahead_log.items() | list %}
{{ k }} = {{ v }}
{% endfor %}

#------------------------------------------------------------------------------
# REPLICATION
#------------------------------------------------------------------------------

{% for k,v in postgresql_replication.items() | list %}
{{ k }} = {{ v }}
{% endfor %}

#------------------------------------------------------------------------------
# QUERY TUNING
#------------------------------------------------------------------------------

{% for k,v in postgresql_query_tuning.items() | list %}
{{ k }} = {{ v }}
{% endfor %}

#------------------------------------------------------------------------------
# ERROR REPORTING AND LOGGING
#------------------------------------------------------------------------------

{% for k,v in postgresql_logging.items() | list %}
{{ k }} = {{ v }}
{% endfor %}

#------------------------------------------------------------------------------
# RUNTIME STATISTICS
#------------------------------------------------------------------------------

{% for k,v in postgresql_runtime_statistics.items() | list %}
{{ k }} = {{ v }}
{% endfor %}

#------------------------------------------------------------------------------
# AUTOVACUUM PARAMETERS
#------------------------------------------------------------------------------

{% for k,v in postgresql_autovacuum.items() | list %}
{{ k }} = {{ v }}
{% endfor %}

#------------------------------------------------------------------------------
# CLIENT CONNECTION DEFAULTS
#------------------------------------------------------------------------------

{% for k,v in postgresql_client_connection_defaults.items() | list %}
{{ k }} = {{ v }}
{% endfor %}

#------------------------------------------------------------------------------
# LOCK MANAGEMENT
#------------------------------------------------------------------------------

{% for k,v in postgresql_lock_management.items() | list %}
{{ k }} = {{ v }}
{% endfor %}

#------------------------------------------------------------------------------
# CUSTOMIZED OPTIONS
#------------------------------------------------------------------------------

{% for k,v in postgresql_cutomized.items() | list %}
{{ k }} = {{ v }}
{% endfor %}